body {
  background-color: lightgrey;

}

.student-section {
  text-align: center;
}

.portfolio-section {
  text-align: center;
  background-color: white;
}

.footer-section {
  background-color: lightgrey;
  padding-bottom: 50px;
  border-bottom: 2px solid gray;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul li {
  list-style: none;
  /* background-color: whitesmoke; */
  display: inline-block;
  margin-right: -0.3125em; /* 5px */
  padding-right: 70px;
}


.student-photo {
  float: right;
  margin: 100px;
}

.student-bio {
  float: left;
  margin: 100px;
}



/* ----- FLOAT CLEARFIX ------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/* ----- MEDIA QUERIES ------ */

/* mobile layout media query */

@media (max-width: 320px) {

}


/* tablet layout media query */



/* desktop layout media query */
