.student-section {
  background-color: lightgrey;
}

.portfolio-section {


}

.footer-section {
  background-color: lightgrey;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul li {
  list-style: none;
}




/* ----- MEDIA QUERIES ------ */

/* mobile layout media query */

@media (max-width: 320px) {

}


/* tablet layout media query */



/* desktop layout media query */
