* {
  box-sizing: border-box;
  /* border: solid 2px red; */
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

body {
  background-color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

img {
  /* max width & height properties add responsiveness to images */
  max-width: 100%; 
  height: auto; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.student-section {
  background-color: whitesmoke;
  text-align: center;
}

.portfolio-section {
  text-align: center;
}

.footer-section {
  background-color: whitesmoke;
  padding-bottom: 50px;
  border-bottom: 2px solid gray;
  text-align: center;
}

.footer-nav {
}

/* #phone,
#email {
  text-decoration: none;
} */



p {
  font-family: 'Montserrat', sans-serif;
}

ul li {
  list-style: none;
  /* background-color: whitesmoke; */
  /* display: inline-block; */
  margin-right: -0.3125em; /* 5px */
  padding-right: 70px;
  /* border: 2px solid green; */
  background-color: white;
  margin-bottom: 2px;
  padding: 5px;
}


.student-photo {
  max-width: 50%;
  /* float: right; */
  /* margin: 100px; */
}

.student-bio {
  /* float: left; */
  /* max-width: 50%; */
  /* margin: 100px; */
}



/* ----- FLOAT CLEARFIX ------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/* ----- MEDIA QUERIES ------ */

@media (min-width: 769px) {
  .container {
    max-width: 70%;
    margin: 0 auto;
  }
}

/* mobile layout media query */

/* @media (max-width: 320px) {
  
} */


/* tablet layout media query */

/


/* desktop layout media query */

/* @media (min-width: 769px) and (max-width: 1024px) {
  
} */